<h1>Cars#edit</h1>
<p>Find me in app/views/cars/edit.html.erb</p>


<%= form_for(@car) do |f| %>
    <%= f.label :make %>
    <%= f.text_field :make %><br>
    <%= f.label :color %>
    <%= f.color_field :color %><br>
    <%= f.label :price %>
    <%= f.number_field :price, min: 0, step: 0.01 %><br>
    <%= f.label :four_wheel_drive %>
    <%= f.check_box :four_wheel_drive %>
    <%= f.submit %>
<% end %>