<!DOCTYPE html>
<html>
  <head>
    <title>CarsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>CARS</h1>
  <%= link_to("Cars", cars_path)%>
  <%= link_to("Make A Car", new_car_path) %>
  <%= link_to("Expensive Car", expensive_car_path)%>
  <%= button_to("Log In With Google", '/auth/google_oauth2') %>

    <hr>

    <% if flash[:message] %>
      <div class="field_with_errors"><%= flash[:message] %></div>
      <% end %>

    <%= yield %>
  </body>
</html>
